:root {

    /* Night colors */
    --background-color-night: #2a2a2a;
    --standout-background-color-night: #343434;
    --soft-foreground-night: #b5b5b5;
    --strong-foreground-night: #e8e8e8;

    /* Day colors */
    --background-color-day: #f8f8f8;
    --standout-background-color-day: #eeeeee;
    --strong-foreground-day: #343434;
    --soft-foreground-day: #525252;

    --background-color: var(--background-color-night);
    --standout-background-color: var(--standout-background-color-night);
    --strong-foreground: var(--strong-foreground-night);
    --soft-foreground: var(--soft-foreground-night);

}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-night);
        --standout-background-color: var(--standout-background-color-night);
        --strong-foreground: var(--strong-foreground-night);
        --soft-foreground: var(--soft-foreground-night);    
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-day);
        --standout-background-color: var(--standout-background-color-day);
        --strong-foreground: var(--strong-foreground-day);
        --soft-foreground: var(--soft-foreground-day);    
    }
}
