body {
    background-color: var(--background-color);
    color: var(--strong-foreground);
    font-family: monospace;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2em 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". header-container ."
      ". text-container ."
}

.header {
    display: grid;
    grid-area: header-container;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". the-big-light";
}

.text-container {
    grid-area: text-container;
}

the-big-light {
    grid-area: the-big-light;
    align-self: end;
    justify-self: start;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--light-foreground);
}

p {
    margin-bottom: 2em;
    text-align: left;
}

h1, h2, h3, h4 {
    color: var(--light-foreground);
    margin-bottom: 0.2em;
    text-align: right;
}

figcaption {
    color: var(--light-foreground);
    font-size: 12px;
    text-align: right;
}

.eqborder {
    display: inline-block; 
    border: 3px solid var(--light-foreground);
    border-radius: 6px;
    margin: 1em;
    padding: 1em; 
    padding-bottom: 0em; 
    padding-left: 1em;
}

.MathJax_ref {
    fill: var(--light-foreground);
    stroke: var(--light-foreground);
}