:root {

    /* Night colors */
    --background-color-night: #2a2a2a;
    --standout-color-night: #343434;
    --the-blue-night: #A1CBF6;
    --the-pink-night: #DBBAE6;

    /* Day colors */
    --background-color-day: #f8f8f8;
    --standout-color-day: #eeeeee;
    --the-blue-day: #5148b2;
    --the-pink-day: #AC489B;

    --logo-blue: #9EC5FA;
    --logo-pink: #EAAEB9;

    --background-color: var(--background-color-night);
    --standout-color: var(--standout-color-night);
    --the-pink: var(--the-pink-night);
    --the-blue: var(--the-blue-night);

}


body {
    background-color: var(--background-color);
    color: var(--the-blue);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

#container {
    width: 60%;
}

p {
    margin-bottom: 2em;
}

h1, h2, h3, h4 {
    color: var(--the-pink);
    margin-bottom: 0.2em;
    text-align: right;
}
