/*------------------*/
/* night/day switch */
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 24px;
    margin-left: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color-day);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--the-pink-night);
    transition: .1s;
}

input:checked+.slider {
    background-color: var(--background-color-night);
}

input:checked+.slider:before {
    transform: translateX(14px);
    transition: .1s;
    background-color: var(--the-pink-day);
}

.slider.round {
    border-radius: 4px;
}

.slider.round:before {
    border-radius: 4px;
}
/* night/day switch */
/*------------------*/
