/*------------------*/
/* night/day switch */
/*------------------*/

.slider-box {
    position: relative;
    display: inline-block;

    width: 38px;
    height: 20px;
    margin-bottom: 0.39em;
    /* Yes, exactly 0.39em. Not 0.4em. Not 0.38em. It's 0.39em otherwise
       it's driving me crazy The real problem is that I need to mess with
       all the slider's pixels to better vibe with h1 but right now they're
       adjusted to vibe with the previous h2 subtitle. But I've already done
       it 5 times before and I just can't right now.
    */
}

#nightday-state {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color-day);
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: var(--strong-foreground-day);
    transition: 0.1s;
}

input:checked+.slider {
    background-color: var(--background-color-night);
}

input:checked+.slider:before {
    transform: translateX(16px);
    transition: 0.1s;
    background-color: var(--strong-foreground-night);
}

.slider.round {
    border-radius: 4px;
}

.slider.round:before {
    border-radius: 4px;
}