@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    src: url('/fonts/RobotoMono.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-color: var(--background-color);
    color: var(--the-blue);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--standout-color);
}

a:link, a:visited {
    color: var(--the-pink);
}

header {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    /* text-align: left; */
    width: 100%;
}

/* fake footer because github pages is weird */
#footer {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: right; */
    /* text-align: right; */
    display: inline-block;
    margin-top: 5em;
    font-size: 12px;
    /* padding-left: 1.25em; */
}

input.flat-input {
    border: none;
    outline: none;
    background-color: var(--standout-color);
    color: var(--the-pink);
    padding: 4px;
    font-size: 12px;
    margin: 0px;
    text-align: center;
    font-family: monospace;
    width: 100px;
    border-radius: 4px;
}

select {
    border: none;
    outline: none;
    background-color: var(--standout-color);
    /* Light gray */
    color: var(--the-pink);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: right;
    font-family: monospace;
    border-radius: 4px;
    /* height: 1.84em; */
    /* width: 73px; */
    /* width: 6em; */
}

button.flat-button {
    border: none;
    outline: none;
    background-color: var(--standout-color);
    /* Light gray */
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: var(--the-blue);
    border-radius: 4px;
}

button.delete-button {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    transform: translate(0px, 0px);
    border: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-left: auto;
    margin-right: auto;

}

#plot-region {
    display: block;
    position: relative;
    padding: 0;
    margin-top: 1em;
    background-color: var(--background-color);
}


#sections-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#multidose-section {

    margin-right: auto;
}

#steadystate-section {
    margin-left: auto;
}

#dragndrop-zone.overlay {
    background-color: var(--the-pink);
}

#copy-xmr {
    cursor: copy;
    transition: background-color 0.31s;
}

.hidden-checkbox {
    display: none;
}

.custom-checkbox {
    margin: auto;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--standout-color);
    cursor: pointer;
    border-radius: 4px;
    transform: translate(0px, 0.15em);
}

.custom-checkbox.checked-style {
    background-color: var(--the-pink)
}

.visibility-cell .uncertainty-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-checkbox {
    margin: auto;
}

#stashrecall-container {
    display: inline-block;
    text-align: right;
    margin-top: 1em;
    margin-left: auto;
    width: 100%;
}

#share-button {
    cursor: copy;
}