@font-face {
    font-family: 'IBM Plex Mono';
    font-style: auto;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: auto;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/IBMPlexMono-Bold.ttf') format('truetype');
}


body, html {
    background-color: var(--background-color);
    color: var(--soft-foreground);
    font-family: 'IBM Plex Mono', 'monospace';
    align-items: center;
    font-size: 0.9rem;
}

svg text {
    font-size: 0.9rem;
}

.container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto 0.2fr auto;
    gap: 2rem 0rem;
    grid-auto-flow: row;
    grid-template-areas:
      ". header-container ."
      ". ui-container ."
      ". . ."
      ". bottom-text .";
}

.header {
    display: grid;
    grid-area: header-container;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0rem 0rem;
    grid-auto-flow: row;
    grid-template-areas:
        "logo title theme-slider";
}

.logo {
    display: flex;
    margin-bottom: 0rem;
    grid-area: logo;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.title {
    grid-area: title;
    display: flex;
    align-items: end;
    /* align-self: center; */
    /* justify-self: start; */
}

.theme-slider {
    grid-area: theme-slider;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    /* align-self: center;
    justify-self: start; */
}

.ui-container {
    position: relative;
    display: grid;
    grid-area: ui-container;
    grid-template-columns: auto 2rem auto;
    grid-template-rows: auto auto auto;
    gap: 0rem 0rem;
    grid-auto-flow: row;
    grid-template-areas:
        "plot-region plot-region plot-region"
        "options-container options-container options-container"
        "multidose-container . steadystate-container";
}

@media (max-width: 40em) {
    .ui-container {
        grid-template-areas:
            "plot-region"
            "options-container"
            "multidose-container"
            "steadystate-container";
    }
    svg text {
        font-size: 1rem;
    }
}

.plot-region {
    grid-area: plot-region;
}

#plot-region {
    margin-top: 1rem;
}

.options-container {
    margin-top: 1rem;
    display: grid;
    grid-area: options-container;
    grid-template-columns: 0.9fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0rem 0rem;
    grid-auto-flow: row;
    grid-template-areas:
        "options shareurl-container";
}

.options {
    margin-top: 1rem;
    grid-area: options;
}

.shareurl-container {
    grid-area: shareurl-container;
    align-self: center;
    justify-self: center;
    justify-content: flex-end;
    display: flex;
    margin-top: 1rem;
}

.multidose-container {
    margin-top: 0.7rem;
    grid-area: multidose-container;
}

.steadystate-container {
    margin-top: 0.7rem;
    grid-area: steadystate-container;
}

.bottom-text {
    grid-area: bottom-text;
    max-width: 50rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--standout-background-color);
}

p.indent {
    text-indent: 2rem;
}

a:link, a:visited {
    color: var(--strong-foreground);
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--strong-foreground);
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.small-text {
    font-weight: normal;
    font-size: 0.8rem;
    display: block;
    text-align: center;
}

.standout-text {
    color: var(--strong-foreground);
    font-weight: bold;
}

select {
    appearance: none;
    border: none;
    outline: none;
    background-color: var(--standout-background-color);
    color: var(--strong-foreground);
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    text-align: right;
    font-family: 'IBM Plex Mono', 'monospace';
    border-radius: 0.35rem;
}

input.flat-input {
    border: none;
    outline: none;
    background-color: var(--standout-background-color);
    color: var(--strong-foreground);
    padding: 0.35rem;
    font-size: 0.9rem;
    text-align: center;
    font-family: 'IBM Plex Mono', 'monospace';
    max-width: 9rem;
    width: 100%;
    border-radius: 0.35rem;
}

button.flat-button {
    border: none;
    outline: none;
    padding: 0.35rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 0.9rem;
    text-align: center;
    font-family: 'IBM Plex Mono', 'monospace';
    border-radius: 0.35rem;
    background-color: var(--standout-background-color);
    color: var(--strong-foreground);
}

button.button-on {
    font-weight: bold;
    background-color: var(--soft-foreground);
    color: var(--standout-background-color);
}

button.delete-button {
    padding: 0.35rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.hidden-checkbox-state {
    display: none;
}

.custom-checkbox {
    margin: auto;
    width: 0.7em;
    height: 0.7em;
    background-color: var(--standout-background-color);
    cursor: pointer;
    border-radius: 0.35rem;
    padding: 0.4rem;
}

.visibility-cell .uncertainty-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#share-button {
    position: relative;
}

.floating-text {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
}

.inline-image {
    height: 1rem;
    vertical-align: middle;
}